.display-2 {
  margin-left: 10rem;
}

h2 {
  font-family: lobster;
}

h1 {
  font-family: lobster;
}

#leaderBoard > *{
  border-left-color: green;
  border-right-color: green;
  border-right-width: 5px;
  border-left-width: 5px;
}

#leaderBoard > *:first-child{
  border-top-color: green;
  border-top-width: 2px;
  font-weight: bold;
  font-size: 200%;
}

#leaderBoard > *:first-child>:first-child::before{
  content: '🥇';
  margin-right: 1em;
}

#leaderBoard > *:nth-child(2){
  font-size: 165%;
}

#leaderBoard > *:nth-child(2)>:first-child::before{
  content: '🥈';
  margin-right: 1em;
}

#leaderBoard > *:nth-child(3){
  font-size: 130%;
}

#leaderBoard > *:nth-child(3)>:first-child::before{
  content: '🥉';
  margin-right: 1em;
}

#leaderBoard > *:last-child{
  border-bottom-color: green;
  border-bottom-width: 2px;
}